{% extends "layout.html" %}

{% block content %}
<div class="container w-50">
    <form method="POST" action="">
{{form.hidden_tag()}}
<fieldset>
<legend class="border-bottom mb-4">Change Password</legend>

<div class="from-group">
    {{form.password.label(class="form-control-label")}}
    {{form.password(class="form-control form-control-lg")}}
</div>
<div class="from-group">
    {{form.confirm_password.label(class="form-control-label")}}
    {{form.confirm_password(class="form-control form-control-lg")}}
</div>

</fieldset>
<div class="from-group">
    {{form.sumbit(class="btn btn-online-info")}}
    </div>

    </form>
</div>  
{% endblock content %}

