<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Authentication Page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav navbar-nav navbar-right">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('homepage')}}">Home</a>
            </li>
            {% if current_user.is_authenticated %}   
                <li class="nav-item">
                  <a class="nav-link" href="">{{current_user.username}}</a>
                </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="{{url_for('account')}}">Account</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% else %}
  
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('register')}}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('login')}}">Login</a>
            </li>
            {% endif %}
  
          </ul>
        </div>
      </div>
    </nav> 
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
          <strong>Message:</strong> {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}


    {% block content %}
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Positive Quotes to Power Up Your Day</h1>
        <p class="lead">“Train your mind to see the good in every situation.” </p>
  </div>
    {% endblock content %}
    




    
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
 


  </body>
</html>